Update challenge generation formatting to match proposed standard

The current implementation is not in line with https://datatracker.ietf.org/doc/rfc8235/. This specification standardizes Schnorr NIZKs.

In particular, we are not following the recommended practice during Fiat-Shamir challenge generation. We should clearly delineate the boundary between concatenated items fed to the hash function, and prepend each item with a 4-byte integer that represents the length of that item, as specified in RFC 8235 section 2.3.

Looking at the implementation of Merlin (https://merlin.cool/problem.html), they go even further than the approach suggested in the RFC in generating transcripts used for challenge generation. In particular, they use a domain separator as well, which makes a lot of sense to me.

Shrinking the scope of this issue: the standard also makes recommendations about using transcripts, etc. This is currently addressed in boltlabs-inc/zeekoe#27, and we will add issues under that epic if the implementation will include changes to this repo.